.bannerVideo{
    
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-color: black;
    
    video {

        display: none;

    }
}
.bannerVideo__tittle {
    
    display: block;
    width: 100%;
    position: absolute;
    top: 20%;

    h1 {
        color:white;
        display: block;
        font-size: 5rem;
        text-align: center;
        z-index: 0;
    }
    
}
.bannerVideo__tittle__redText {
    color: $lightred;

}

.bannerImg{
    padding: 2rem 0 1rem 0;
    width: 100%;
    background-color: black;
    text-align: center;
    // overflow: hidden;
    h1 {
        color:white;
        display: block;
        font-size: 5rem;
        text-align: center;
    }
}


/////Media Queries///////

@media (min-width: $smallBP) {
    .bannerVideo video {
        display:block;
        position: relative;
        z-index: -1;
        width: 100%;
        left: 0%;
        
    }
}
@media (min-width: $mediumBP) {
    .bannerVideo{
        height: 50vh;
        background-color: rgba($color: #000000, $alpha: 0);
        background-image: linear-gradient(black, 50%, rgba(24, 24, 24, 0.1));
    }
    .bannerVideo__tittle {
        top: 20%;
    }
    .bannerVideo__tittle h1 {
        font-size: 8rem;
    }
    .bannerVideo video {
        display:block;
        position: relative;
        z-index: -1;
        width: 100%;
        left: 0%;
        
    }
    .bannerImg{
        h1 {
            font-size: 8rem;
        }
    }
  
}
@media (min-width: $largeBP) {

    .bannerVideo__tittle {
        top: 17%;
        h1 {
            font-size: 10rem;
        }
    }
    .bannerImg{
        h1 {
            font-size: 10rem;
        }
    }
    
}

/*--------------------------------------------*/