* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: white;
    font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
}

header {
    padding: 0.2rem 0 0.2rem 0;
    background-color: black;
}

nav {
    // display: flex;
    // margin-left: 30px;
    // justify-content: center;
    // text-align: center;
    // width: 70%;
    // height: 1.5rem;
    transform: translate(-100vw, -90%);
    opacity: 0;
    transition: 1s;
}

ul li {
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: $lightred;
    text-decoration: none;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 5% 0 5%;
    background-color: black;
    color: white;
}

.flexBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100vh;
}

.flexBody--black{
    background-color: #000;
}

/////Media Queries///////

// @media (min-width: $smallBP) {

// }
@media (min-width: $mediumBP) {
    .flexBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
  
}
@media (min-width: $largeBP) {

}

/*--------------------------------------------*/